body {
  background-color: #33130044; /* cor de fundo azul claro */
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h2 {
  color: #1e724d;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  table-layout: fixed; /* largura fixa */
}

th, td {
  border: 1px solid #444;
  width: 12%;          /* cada coluna ocupa ~1/8 da largura */
  height: 60px;        /* altura fixa */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

th {
  background-color: #33130044; /* cor de fundo azul claro */
}

td.active {
  background-color: #3313001b; /* verde claro quando selecionado */
}

a {
  text-decoration: none;
  color: #1e724d;
}

a:hover {
  text-decoration: underline;
}

/* Fundo escuro semi-transparente */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1a6e3980;
  display: none; /* Escondido por padrão */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Caixa do alerta */
.modal-alert {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  max-width: 400px;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Botão para fechar */
.modal-alert button {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #001225;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.modal-alert button:hover {
  background-color: #1e0d01;
}
